:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: rgba(93, 98, 255, 0.65);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  margin: 5px 0px 20px 0px;
}

#container {
  background-color: rgb(124, 128, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 0 20px 5px rgba(255, 124, 124, 0.5);
}

#password-res {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: white;
  font-size: 20px;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  color: black;
}

.strength {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  margin: 5px;
}

.strength-0 {
  background-color: rgb(255, 75, 75);
}

.strength-1 {
  background-color: rgb(255, 188, 65);
}

.strength-2 {
  background-color: rgb(255, 255, 130);
}

.strength-3 {
  background-color: greenyellow;
}

.strength-4 {
  background-color: rgb(63, 164, 0);
}

.clip {
  position: absolute;
  font-size: 20px;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

#settings {
  width: 100%;
}

.setting {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}

button#generate {
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  background-color: rgba(255, 64, 64, 0.65);
}

button#generate:hover {
  background-color: rgba(255, 64, 64, 0.9);
}
